<!DOCTYPE html>
<html>
    <head>
         <title>org.com</title>
        <div 
        style="background-color:cadetblue;color: white;
  		text-align: left;font-family: verdana;
  		font-size: 18px;
  		padding: 10px;">
  		<h2>Welcome to Org.com<h2>
  		<h3 style="text-align: right;font-size:15px;">Hi. <span style="font-family:Verdana;color:yellow" th:text="${User}"></span></h3>
  		<p style="text-align: right;font-size:15px;">
  		<span><a href="/">Home</a></span>
  		<span><a href="/addEmp">Add Employee</a></span>
  		<span><a href="/logout">Logout</a></span>
  		</p>
  		</div>
  		</center>
    </head>

    
    <body>
    <br><br>
    <div align="center">
    <form action="#" th:action="@{/insert}" th:object="${employee}" method="post">
    	
    	<table border="1" cellpadding="10">

        
        <tr>
        	<td style="text-align: center"><label for="name">Name :</label></td>
       	 	<td><input type="text" th:field="*{name}" /></td>
        </tr>

        <tr>
        	<td style="text-align: center"><label for="dep">Department :</label></td>       	
        	<td><input type="text" th:field="*{department}" /></td>
        </tr>
        
        <tr>
        	<td style="text-align: center"><label for="email">Email :</label></td>    	
        	<td><input type="text" th:field="*{email}" /></td>
        </tr>
		
		</table>
		<br><br>
        <button style="margin-left:255px;" type="submit">Update</button>
    		
	</form>
    </div>
    </body>

</html>