<!DOCTYPE html>
<html>
    <head>
         <title>org.com</title>
        <div 
        style="background-color:cadetblue;color: white;
  		text-align: left;font-family: verdana;
  		font-size: 18px;
  		padding: 10px;">
  		<h2>Welcome to Org.com<h2>
  		<h3 style="text-align: right;font-size:15px;">Hi. <span style="font-family:Verdana;color:yellow" th:text="${User}"></span></h3>
  		<p style="text-align: right;font-size:15px;">
  		<span><a href="/">Home</a></span>
  		<span><a href="/addEmp">Add Employee</a></span>
  		<span><a href="/logout">Logout</a></span>
  		</p>
  		</div>
  		
        <br><br>
        <script type="text/javascript">
        function validate()
        {
            var text = document.getElementById("mail").value;
            var regx = /^([a-z0-9\.-]+)@([a-z0-9-]+).([a-z]{2,8})(.[a-z]{2,8})?$/;
            if(regx.test(text))
            {
                document.getElementById("lbuser").innerHTML="Valid";
                document.getElementById("lbuser").style.visibility="visible";
                document.getElementById("lbuser").style.color="green";
                return true;
            }
            else
            {
                document.getElementById("lbuser").innerHTML="InValid";
                document.getElementById("lbuser").style.visibility="visible";
                document.getElementById("lbuser").style.color="red";
                return false;

            }
        }
        
        </script>
    </head>

    
    <body>
    
    <center>
    <form onsubmit="return validate();" action="#" th:action="@{/insert}" method="post">
    	
    	<table border="1" cellpadding="10">

        <tr>
        	<td style="text-align: center"><label for="name">Name :</label></td>
       	 	<td><input type="text" name="name" placeholder="Enter Your Name"/></td>    	
        </tr>
        
        
        <tr>
        	<td style="text-align: center"><label for="dep">Department :</label></td>
        	<td><input type="text" name="department" placeholder="Enter Your Department"/></td>
        </tr>
        	
        	
        <tr>
        	<td style="text-align: center"><label for="dep">Email :</label></td>
        	<td><input id="mail" type="email" name="email" placeholder="Enter Your Mail"/>
        	<label id="lbuser" style="color:red;visibility:hidden" for="email">Invalid email..!</label></td>
        </tr>
    	
    	</table>
		<br>
        <button type="submit">Submit</button>
        
	</form>   
         </center>
         
         <div>
      <h3 style="text-decoration: underline;"> Email Validation</h3>
      <h4>
      <span style="color: blue;">(yourname)</span>
      <span>@</span>
      <span style="color: chocolate;">(domain)</span>
      <span>.</span>
      <span style="color: darkolivegreen;">(extention)</span>
      <span style="color:fuchsia">(.extention)</span>
      </h4>
 
      
      <li style="color: blue;">Any letters,numbers,dot and/or hyphens</li>
      <li style="color: chocolate;">Any letters,numbers and/or hyphens</li>
      <li style="color: darkolivegreen;">Any letters(a-z)</li>
      <li style="color:fuchsia">a dot(.) then any letter</li>
     
     
     
     </div>

    </body>

</html>