<!DOCTYPE html>
<html>
    <head>
        <title>org.com</title>
        <div 
        style="background-color:cadetblue;color: white;
  		text-align: left;font-family: verdana;
  		font-size: 18px;
  		padding: 10px;">
  		<h2>Welcome to Org.com<h2>
  		<h3 style="text-align: right;font-size:15px;">Hi. <span style="font-family:Verdana;color:yellow" th:text="${User}"></span></h3>
  		<p style="text-align: right;font-size:15px;">
  		<span><a href="/">Home</a></span>
  		<span><a href="/addEmp">AddEmployee</a></span>
  		<span><a href="/logout">LogOut</a></span>
  		</p>
  		</div>
    </head>

    
    <body>
     <center th:switch="${employee}">
    <br>
    <form th:action="@{/}">
    	<input type="text" name="keyword" placeholder="Enter valid Email">
    	<button type="submit">Search</button>
    </form>

    <center th:switch="${employee}">
    <center th:case="null">
    <h2> No Records Found !!</h2>
    </center>
    
    <br><br>
    <div th:case="*">
    <table border="1" cellpadding="10">
     <thead>
             <tr>
                 <th>Name</th>
                 <th>Email</th>
                 <th>Department</th>
                 <th>Action1</th>
                 <th>Action2</th>
               
              </tr>
     </thead>
     <tbody>
     	<tr th:each="employee : ${employee}">
     		
     		<td th:text="${employee.name}"></td>
     		<td th:text="${employee.email}"></td>
     		<td th:text="${employee.department}"></td>
     		<td>
     		<span th:if="${right=='[ROLE_ADMIN]'}"><a th:href = "@{/edit/{id}(id=${employee.id})}">Edit</a></span>
     		<span th:unless="${right=='[ROLE_ADMIN]'}"><a>Contact ADMIN to Edit</a></span>
     		</td>
     		<td>
     		<span th:if="${right=='[ROLE_ADMIN]'}"><a onclick="alert('Confirm to delete')" th:href = "@{/delete/{id}(id=${employee.id})}">Delete</a></span>
     		<span th:unless="${right=='[ROLE_ADMIN]'}"><a>Contact ADMIN to delete</a></span>
     		</td>

  
     	</tr>
     </tbody>
     
    </table>

    
    </div>
   	
    </center>
    
   

    </body>

</html>