<!DOCTYPE html>
<html xmlns:th = "https://www.thymeleaf.org">
<head>
  <title>org.com</title>
        <div 
        style="background-color:cadetblue;color: white;
  		text-align: left;font-family: verdana;
  		font-size: 18px;
  		padding: 10px;">
  		<h2>Welcome to Org.com<h2>
  		<p style="font-size:15px;">
  		<span style="text-align: left;">Hi. <span style="font-family:Verdana;color:yellow" th:text="${User}"></span></span>
  		<span><a href="/">Home</a></span>
  		<span><a href="/addEmp">Add Employee</a></span>
  		<span><a href="/logout">Logout</a></span>
  		</p>
  		</div>
</head>
<body>
<center>

<h2>Employee details saved Successfully</h2>
	<table border="1" cellpadding="10">
	<tbody>
	<tr>
	<td>Name</td>
	<td style="text-align: center" th:text="${name}"></td>
	</tr>
	
	<tr>
	<td>Email</td>
	<td style="text-align: center" th:text="${email}"></td>
	</tr>
	
	<tr>
	<td>Department</td>
	<td style="text-align: center" th:text="${dept}"></td>
	</tr>

	
	</tbody>
	</table>
	<p style="color: darkgreen;font-family: Georgia, serif;animation:infinite;">*Login Using Your Name as Username and Email as Password...!</p>
<br>
</center>
</body>
</html>